# Python core
__pycache__/
*.pyc
.env

# Virtual Environment (CRITICAL)
venv/
env/

# Massive Data Folders (Keeps GitHub from freezing)
data/raw/videos/
data/processed/frames/
data/processed/features/

# IDE specific files
.vscode/
.DS_Store